                    </td>
                </tr>
                <tr>
                    <td style="color:#333333;font-size: 14px;font-family:Century Gothic;border-top: 1px solid #333333;padding-top: 20px;">
                        <p>
                            AVADO Learning Limited. Registered in England with number 06177616.
                            Authorised and regulated by the Financial Conduct Authority – Firm Reference Number: 718054 .
                            BC Arch Limited. Registered in England with number 08151723. Registered office:
                            Scale Space, Imperial College White City Campus, 58 Wood Ln, London W12 7RZ.
                            VAT Registration number: 918560018.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>