<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td align="center">
            <table cellspacing="0" cellpadding="0" width="600">
                <tr>
                    <td align="center" style="padding:40px"><img src="http://campus.avadolearning.com/frontend/src/assets/logo/01-Avado-Logo-RGB.svg"></td>
                </tr>
                <tr>
                    <td style="color:#333333;font-size: 16px;font-family:Century Gothic; padding-bottom: 20px">